In [42]:
import pandas as pd
import numpy as np

In [92]:
video_df = pd.read_csv("input/data_10hz/video_label.csv")

In [85]:
df = pd.read_csv("input/data_10hz/frame_label.csv")

In [86]:
success_variations = ["success", "hit"]
failure_variations = ["failure", "miss", "fail"]

def process_row(x):
    if not isinstance(x, str):
        return "", "", "", ""
    labels = x.split(",")[1:]
    if len(labels) == 0:
        return "", "", "", ""
    
    left_actions = []
    right_actions = []
    left_outcomes = []
    right_outcomes = []
    for label in labels:
        side, action, outcome = label.split("_")
        if outcome in success_variations:
            outcome = "success"
        elif outcome in failure_variations:
            outcome = "failure"
        else:
            raise ValueError(f"Unknown outcome: {outcome}")
        if side == "l":
            left_actions.append(action)
            left_outcomes.append(outcome)
        elif side == "r":
            right_actions.append(action)
            right_outcomes.append(outcome)
        else:
            raise ValueError(f"Unknown side: {side}")
    
    return ",".join(left_actions), ",".join(right_actions), ",".join(left_outcomes), ",".join(right_outcomes)

In [87]:
data = {
    "left_actions": [],
    "right_actions": [],
    "left_outcomes": [],
    "right_outcomes": []
}
for i, row in df.iterrows():
    left_actions, right_actions, left_outcomes, right_outcomes = process_row(row["labels"])
    data["left_actions"].append(left_actions)
    data["right_actions"].append(right_actions)
    data["left_outcomes"].append(left_outcomes)
    data["right_outcomes"].append(right_outcomes)

labels_df = pd.DataFrame(data)

In [91]:
labels_df["right_actions"].unique()

array(['', 'lunge', 'parry', 'fleche', 'counter', 'prime', 'lunge,prime',
       'prime,parry', 'counter,parry', 'parry,counter'], dtype=object)

In [35]:
labels_df.to_csv("a.csv")

In [36]:
df

,frame_filename,second,height,width,labels,video_filename,frame_idx
0,2025-01-04_08-40-12_0.jpg,0.0,1080,1920,NaN,2025-01-04_08-40-12.mp4,0
1,2025-01-04_08-40-12_1.jpg,0.1,1080,1920,NaN,2025-01-04_08-40-12.mp4,1
2,2025-01-04_08-40-12_2.jpg,0.2,1080,1920,NaN,2025-01-04_08-40-12.mp4,2
3,2025-01-04_08-40-12_3.jpg,0.3,1080,1920,NaN,2025-01-04_08-40-12.mp4,3
4,2025-01-04_08-40-12_4.jpg,0.4,1080,1920,NaN,2025-01-04_08-40-12.mp4,4
...,...,...,...,...,...,...,...
14360,2024-11-10-18-25-41_434.jpg,43.4,666,1240,NaN,2024-11-10-18-25-41.mp4,434
14361,2024-11-10-18-25-41_435.jpg,43.5,666,1240,NaN,2024-11-10-18-25-41.mp4,435
14362,2024-11-10-18-25-41_436.jpg,43.6,666,1240,NaN,2024-11-10-18-25-41.mp4,436
14363,2024-11-10-18-25-41_437.jpg,43.7,666,1240,NaN,2024-11-10-18-25-41.mp4,437
14364,2024-11-10-18-25-41_438.jpg,43.8,666,1240,NaN,2024-11-10-18-25-41.mp4,438

In [37]:
df["left_actions"] = labels_df["left_actions"]
df["right_actions"] = labels_df["right_actions"]
df["left_outcomes"] = labels_df["left_outcomes"]
df["right_outcomes"] = labels_df["right_outcomes"]

In [39]:
df = df.drop(columns=["labels"])

In [82]:
df.to_csv("input/data_10hz/frame_label.csv", index=False)